<header class="main-header">
	<div class="main-header-content">
		<h1 class="blog-title">
			<a href="{{ "/" | relLangURL }}">
				{{ if .Site.Params.logoTitle }}
					{{ .Site.Params.logoTitle | safeHTML }}
				{{ else }}
           {{ .Site.Title }}
				{{ end }}
			</a>
		</h1>
		<h2 class="blog-description">{{ .Site.Params.description }}</h2>
	</div>

	<div class="nav">
    {{ $currentPage := . }}
		{{ range .Site.Menus.mainmenu}}
      <a class="nav- {{ if $currentPage.IsMenuCurrent "mainmenu" . }}nav-current{{ end }}" role="presentation" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
		{{ end }}
		<a class="nav- " role="presentation" href="https://ajoy.me/">Blog</a>
	</div>
</header>
